a, a:visited, a:hover, a:visited:hover {text-decoration: none;}
a, a:visited, a:hover, a:visited:hover {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
small {font-size: 12px;}

.margin-t-20{margin-top: 20px !important}
.margin-t-30{margin-top: 30px !important}
.margin-t-40{margin-top: 40px !important}
.margin-t-50{margin-top: 50px !important}
.padding-t-20{padding-top: 20px !important}
.padding-t-30{padding-top: 30px !important}
.padding-t-40{padding-top: 40px !important}
.padding-t-50{padding-top: 50px !important}

.margin-b-20{margin-bottom: 20px !important}
.margin-b-30{margin-bottom: 30px !important}
.margin-b-40{margin-bottom: 40px !important}
.margin-b-50{margin-bottom: 50px !important}
.padding-b-20{padding-bottom: 20px !important}
.padding-b-30{padding-bottom: 30px !important}
.padding-b-40{padding-bottom: 40px !important}
.padding-b-50{padding-bottom: 50px !important}

.margin-r-20{margin-right: 20px !important}
.margin-r-30{margin-right: 30px !important}
.margin-r-40{margin-right: 40px !important}
.margin-r-50{margin-right: 50px !important}
.padding-r-20{padding-right: 20px !important}
.padding-r-30{padding-right: 30px !important}
.padding-r-40{padding-right: 40px !important}
.padding-r-50{padding-right: 50px !important}

.margin-l-20{margin-left: 20px !important}
.margin-l-30{margin-left: 30px !important}
.margin-l-40{margin-left: 40px !important}
.margin-l-50{margin-left: 50px !important}
.padding-l-20{padding-left: 20px !important}
.padding-l-30{padding-left: 30px !important}
.padding-l-40{padding-left: 40px !important}
.padding-l-50{padding-left: 50px !important}

body, .dg-box .accordion {font-family: 'Roboto', serif;font-weight: 300;font-size: 13px;overflow-x: hidden}
.fa-2x {font-size: 2.5em;}
.width-100{width: 100%}
body #main_body_cust{font-family: 'Roboto', serif;font-weight: 300;font-size: 13px;min-height: 85vh}
.dg-box {background-color: #FFF;border: 1px solid #CCC;border-radius: 4px;display: inline-block;margin-bottom: 12px;}
.width-100 {width: 100%;}

/* Header Start */
header{background-color: rgb(74, 100, 145);}
header .social-bar{}
header .social-bar .rustic-stone-logo{}
header .social-bar .rustic-stone-logo a{font-size: 32px;text-transform: uppercase;color: #FFF}
header .social-bar .social-block{text-align: right;padding:5px 0px 5px 0px }
header .social-bar .social-block a{color:#FFF;}
/* Header End */

/* Footer Start */
footer{padding: .8rem 0;background: #4A6491;border-top: none;}
footer .design-by-block{color: #ccc;}
footer .tagline-block{text-align: center;color: #eee;}
footer .copyright-block{color: #ccc;}
/* Footer End */

.burger, .burger:after,.burger *, .burger *:before, .burger *:after, .header-nav *, .header-nav *:before, .header-nav *:after {-webkit-transition: all 0.3s;transition: all 0.3s;}

.burger {cursor: pointer;height: 60px;margin-bottom: 0;width: 60px;z-index: 9001;left: 0;overflow: hidden;position: fixed;top: 0;background: #08c;}
.burger:after {bottom: 7px;color: #FFFFFF;content: 'Menu';font-size: 13px;font-weight: 300;left: 0;position: absolute;text-align: center;width: 100%;}
.burger span, .burger span:before, .burger span:after {background: #FFFFFF;border-radius: 0.2em;height: 4px;left: 10px;position: absolute;top: 22px;-webkit-transition: all 0.3s;transition: all 0.3s;width: 40px;}
.burger span:before, .burger span:after {content: '';left: 0;}
.burger span:before {top: -8px;}
.burger span:after {top: 8px;}
.burger-check:checked + .burger:after {content: '';}
.burger-check:checked + .burger span {height: 0;width: 0;}
.burger-check:checked + .burger span:before, .burger-check:checked + .burger span:after {top: 6px;}
.burger-check:checked + .burger span:before {-webkit-transform: rotate(225deg);-ms-transform: rotate(225deg);transform: rotate(225deg);}
.burger-check:checked + .burger span:after {-webkit-transform: rotate(-225deg);-ms-transform: rotate(225deg);transform: rotate(-225deg);}
#mobile-nav:focus + .burger, .burger:focus, .burger:hover { background: rgba(0, 136, 204, 0.9);}
.burger-check:checked + .burger {width: 200px;}
.burger-check:checked + .burger:after {bottom: 18px;content: 'Close Menu';font-size: 20px;padding-left: 30px;}
#mobile-nav {left: -9999px;position: fixed;top: 0;}

.header-nav ul li a:active, .header-nav ul li a:focus, .header-nav ul li a:hover, #mobile-nav:focus + .burger, .burger:focus, .burger:hover {background: rgba(0, 0, 0, 0.1);outline: none;}
.fixed-nav {background: #08c;position: fixed;width: 100%;z-index: 9000;box-shadow: 0 2px 5px rgba(0,0,0,0.3);}
.header-nav {float: left;width: 100%;}
.header-nav ul {background: #FFF;height: calc(100vh - 60px);list-style: none;margin: 0;overflow-y: auto;padding: 10px 0 0 0;position: absolute;-webkit-transform: translateX(-110%);transform: translateX(-110%);-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);-moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);-o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);width: 200px;box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);top: 100%;z-index: 1;}
.burger-check:checked ~ .header-nav ul {-webkit-transform: translateX(0);transform: translateX(0);}
.header-nav ul li {float: left;position: relative;width: 100%;}
.header-nav ul li a {color: rgba(0, 0, 0, 0.79);display: block;float: left;font-size: 14px;font-weight: 400;letter-spacing: 0.75px;line-height: 24px;margin-left: 0;overflow: hidden;padding: 12px 60px 12px 12px;position: relative;text-decoration: none;width: 100%;}

/* Header */ 
#main_header{background-color: rgb(74, 100, 145);}
#main_header .social-bar{}
#main_header .social-bar .rustic-stone-logo a{font-size: 32px;text-transform: uppercase;color: #FFF}
#main_header .social-bar .social-block{text-align: right;padding:5px 0px 5px 0px }
#main_header .social-bar .social-block a{color:#FFF;}


#main_body_cust{margin-top:30px;}
#left_area{}
#left_area .menu-left {list-style: none outside none;margin: 0;padding: 0;}
#left_area .menu-left > li {background: #FFF;border-bottom: 1px solid #CCC;clear: both;display: block;float: left;width: 100%;padding: 2px 8px}
#left_area .menu-left > li:first-child {border-radius: 4px 4px 0 0;}
#left_area .menu-left > li:last-child {border-bottom: 0 none;border-radius: 0 0 4px 4px;}
#left_area .menu-left li a {color: #000;display: block;font-size: 16px;line-height: 20px;outline: medium none;padding: 8px 10px;text-decoration: none;text-shadow: 1px 1px 1px #CCC;}
#left_area .menu-left li > a {color: #666;font-size: 13px;font-weight: 400;padding: 10px;text-shadow: none;}

#right_area{}
#right_area .menu-left {list-style: none outside none;margin: 0;padding: 0;}
#right_area .menu-left > li {background: #FFF;border-bottom: 1px solid #CCC;clear: both;display: block;float: left;width: 100%;padding: 2px 8px}
#right_area .menu-left > li:first-child {border-radius: 4px 4px 0 0;}
#right_area .menu-left > li:last-child {border-bottom: 0 none;border-radius: 0 0 4px 4px;}
#right_area .top_box .menu-left li a {color: #000;display: block;font-size: 16px;line-height: 20px;outline: medium none;padding: 8px 10px;text-decoration: none;text-shadow: 1px 1px 1px #CCC;}
#right_area .bottom_box{display: none}
#right_area .bottom_box .menu-left li a {color: #000;display: block;font-size: 13px;line-height: 20px;outline: medium none;padding: 2px 10px;text-decoration: none;text-shadow: 1px 1px 1px #CCC;}
#right_area .top_box .menu-left li > a {color: #666;font-size: 13px;font-weight: 400;padding: 10px;text-shadow: none;}
#right_area .bottom_box .menu-left li > a {color: #666;font-size: 13px;font-weight: 400;padding: 10px;text-shadow: none;}
#right_area .bottom_box .menu-left #text-color{height: 30px;width: 30px;}

#right_area .bottom_box #text_box_close{margin-top: 5px}

#show-products .one_image{margin-bottom: 20px}
#show-products .modal-body {max-height: 400px;overflow: auto;}
#show-products .one_image p{text-align: center;width: 100%}
.product-box {cursor: pointer;display: inline-block;font-size: 12px;padding-bottom: 10px;text-align: center;min-height: 240px;}
.product-box .thumbnail img{max-height:200px }

.popover.right {margin-left: 15px;}
.popover.right {z-index: 101;}

#all-popover > .popover-content {position: relative;min-height: 100px;}
.cust-options {font-size: 12px;}
.popover-content {display: block;padding: 9px 14px;}
.cust-options-content > .row {line-height: 22px;padding-top: 6px;}

small {font-size: 12px;}


/* Header */
/*


#main_body_cust{margin-top:30px;}
#design_popup .one_image{margin-bottom: 20px}
#design_popup .modal-body {max-height: 400px;overflow: auto;}
.product-box {cursor: pointer;display: inline-block;font-size: 12px;padding-bottom: 10px;text-align: center;}

#design_fixing .one_image{margin-bottom: 20px}
#design_fixing .one_image p{text-align: center;width: 100%}

.main_menu .list-group-item{border:1px solid rgb(74, 100, 145);padding: 20px 20px;font-weight: bold;}
.main_menu .list-group-item:hover{background-color:rgb(74, 100, 145);color: #FFF; }
.main_menu .list-group-item.active{background-color:rgb(74, 100, 145);color: #FFF; }
.main_menu li i{color:rgb(74, 100, 145);font-size: 20px }
.main_menu .list-group-item:hover i{color: #FFF; }
.main_menu .list-group-item.active i{color: #FFF; }
.img-thumbnail{border: 1px solid rgb(74, 100, 145);}
.img-thumbnail.active{background-color:rgb(74, 100, 145);color: #FFF;}
.img-thumbnail:hover{background-color:rgb(74, 100, 145);color: #FFF;}



@media (max-width: 767px) {
	#main_header .social-bar{text-align: center}
	#main_header .social-bar .social-block{text-align: center;padding:5px 0px 5px 0px }
}

@media (max-width: 575px){

}*/


ul#upload-tabs {bottom: -16px;display: inline-block;list-style: none outside none;margin: 0;padding: 0;position: relative;}
#upload-tabs > li {background-color: #f6f6f6;border: 1px solid #e5e5e5;border-radius: 4px 4px 0 0;display: inline-block;font-size: 12px;font-weight: 700;line-height: 27px;padding: 2px 10px;}
#upload-tabs > li.active {background-color: #fff;border-bottom: 1px solid #fff;}
#upload-tabs li a {color: #000;outline: medium none;text-decoration: none;}
#dag-files-images {max-height: 300px;overflow: auto;}

/* Design */ 
#design-area {margin-top: 0;position: relative;z-index: 1;}
#app-wrap {text-align: center;width: 100%;}
#app-wrap .labView {display: none;position: relative;width: 100%;}
#app-wrap .product-design {float: left;height: 100%;overflow: hidden;position: relative;width: 100%;}
#app-wrap .product-design img {position: absolute;}
.design-area {border: 1px dashed #666;float: left;overflow: hidden!important;position: absolute;}
.design-area .content-inner {float: left;height: 100%;position: relative;width: 100%;}
.mask-items-view {display: none;float: left;height: 500px;left: 0;position: absolute;top: 0;width: 500px;}
.mask-items-area {float: left;position: relative;z-index: auto!important;}
.mask-item {border: 1px solid #ccc;cursor: move!important;float: left;margin: 1px;opacity: 1!important;position: absolute;z-index: 1000!important;}
.mask-items-area .mask-item span.item-info {background-color: #fff;border: 1px solid #989898;border-radius: 2px;box-shadow: 0 0 3px 1px #989898;color: #000;display: inline-block;font-size: 9px;left: auto;min-width: 65px;padding: 2px 4px;position: relative;text-align: center;top: -41px;}
.mask-items-area .mask-item div.item-mask-move {color: #333;left: -18px;top: -20px;}
.mask-items-area .mask-item div {background-color: #fff;border: 1px solid #777;border-radius: 2px;box-shadow: 0 0 1px 1px #999;display: block;height: 18px;position: absolute;width: 18px;}
.ui-icon-gripsmall-diagonal-se {background-position: -175px -47px;bottom: -16px;right: -18px;}
.item-mask-remove-on {bottom: -18px;cursor: pointer;left: -18px;}
.item-rotate-on {right: -18px;top: -18px;cursor: pointer;}

#app-wrap .labView.active {display: inline-block;}

.box-font{border: 1px solid #ccc;border-radius: 4px;color: #666;cursor: pointer;display: inline-block;float: left;font-size: 11px;margin: 4px;min-height: 62px;padding: 4px 0;text-align: center;width: 146px;}
.list-fonts {display: inline-block;max-height: 350px;overflow: auto;}
#dag-list-arts, .dag-art-store.main-clipart, .dag-art-shop.main-clipart {margin-right: -15px;}
#dag-list-store-arts {overflow: auto;}
.box-art {margin: 6px;float: left;width: 100% !important;height: 150px;text-align: center;position: relative;overflow: hidden;border: 1px solid #ddd;border-radius: 4px;}
.main-clipart .box-art img {max-width: 100%;max-height: 100%;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;float: none;}
#icon-designs .modal-body {z-index: 1;min-height: 300px;max-height: 400px;overflow-x: hidden;overflow-y: auto;}

.ui-accordion .ui-accordion-header {background: #FCFCFC;border-radius: 0;border-style: none none solid;border-width: 0 0 1px;color: #000;cursor: pointer;display: block;font-size: 16px;margin: 0;min-height: 0;padding-left: 12px!important;position: relative;text-align: left;text-shadow: 1px 1px 1px #CCC;}
.ui-accordion-header:first-child {border-radius: 4px 4px 0 0;}
.dg-box .ui-accordion .ui-accordion-header {color: #666;font-size: 13px;font-weight: 400;text-shadow: none;}


#layers {display: inline-block;float: left;margin: 0;padding: 0;width: 100%;list-style: none;}
#layers li.layer {border: 1px solid #E1E1E1;border-radius: 4px;line-height: 22px;margin: 4px;padding: 2px 4px;cursor: move;}
.glyphicons-12:before {font-size: 12px!important;}
#layers li.layer.active {background: #e9e9e9;}


#dg-sidebar {float: right;position: absolute;right: 8px;top: 4px;z-index: 2;}
.dg-tools {background-color: #FFF;border-radius: 4px;display: inline-block;list-style: none outside none;padding: 0;}
.dg-tools > button, .dg-tools > a {color: #666;font-weight: 300!important;}
div.dg-tools small {clear: both;display: block;}
.small_text{width: 50px;border-radius:10%;border: none;border: 1px solid #666 }
button.btn-addcart {background-color: #f65e13;font-weight: 700;line-height: 100%;padding-left: 5px;height: 30px;font-size: 14px;}
.form-block{color: #666;font-size: 13px;font-weight: 400;padding: 10px;text-shadow: none;}
.form-block label{color: #666;font-size: 13px;font-weight: 400;padding-right: 10px }

.dg-options-content > .row {line-height: 22px;padding-top: 6px;}
.text_issues_adj .dropdown {background: none repeat scroll 0 0 #FFF;border: 1px solid #9C9D98;border-radius: 3px;box-shadow: 0 2px 2px #CFD0CB inset, 0 2px 2px rgba(0,0,0,0.2);cursor: pointer;display: block;height: 28px;padding: .1666em .4375em;position: relative;}
.text_issues_adj .dropdown a {color: #333;font-size: 12px;line-height: 22px;text-decoration: none;}
.text_issues_adj .dropdown span {margin-right: -2px;margin-top: 3px;}
.position-static {position: static!important;}
.font_text_area {font-size: 12px;height: 50px;}
.list-colors {
    display: inline-block;
}
.dropdown-color {
    border: 1px solid #CCC;
    box-shadow: 1px 1px 2px 0 #666;
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 3px;
    padding-left: 2px;
    padding-top: 2px;
    text-align: center;
    width: 22px;
}


.text-color{height: 30px;width: 30px;}





