<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Admin</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
<!--        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
-->        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li >
                <a href="#users">
                    <i class="fa fa-users"></i>
                    User
                </a>
            </li>
            <li><a href="#leagues"><i class="fa fa-star"></i> Leagues</a></li>
            <li><a href="#teams"><i class="fa fa-star"></i> Teams</a></li>
            <li><a href="#matches"><i class="fa fa-star"></i> Matches</a></li>
            <li><a href="#configs"><i class="fa fa-cogs"></i> Config</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
