<div class="container">
    <div class="col-lg-12">
        <h3>{{heading}}</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <form ng-submit="save()" class="form-horizontal">

                <div class="form-group">
                    <label class="" for="team_a">Team A: </label>
                    <select id="team_a" class="form-control" ng-model="match.team_a_id">
                        <option value="a">Select team</option>
                        <option ng-selected="match.team_a_id==t.id"  ng-if="match.team_b_id!=t.id" ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="team_b">Team B: </label>
                    <select id="team_b" class="form-control" ng-model="match.team_b_id">
                        <option value="b">Select Team</option>
                        <option  ng-selected="match.team_b_id==t.id"  ng-if="match.team_a_id!=t.id" ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
                    </select>
                </div>

                <div class="form-group" ng-if="match.team_b_id!='' && match.team_b_id!=''">
                    <label class="" for="team_b">Select Stronger Team: </label>
                    <select id="stronger_team_id" class="form-control" ng-model="match.stronger_team_id">
                        <option value="0">Select Team</option>
                        <option  ng-if="match.team_b_id==t.id || match.team_a_id==t.id"  ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="sport_id">League : </label>
                    <select  ng-change="getTeam()"   id="series_id" class="form-control" ng-model="match.series_id">
                        <option value="">Select League</option>
                        <option ng-repeat="league in leagues" value="{{league.id}}">{{league.title}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="sport_id">Sports: </label>
                    <select  id="sport_id" class="form-control" ng-model="match.sport_id">
                        <option value="">Select Sports</option>
                        <option ng-repeat="sport in sports" value="{{sport.id}}">{{sport.sport}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="start_date">Start Date: </label>
                    <input type="date"  placeholder="Start Date"  class=" form-control" ng-model="match.start_date"  id="start_date" >
                </div>
                <div class="form-group">
                    <label class="" for="start_time">Start Time: </label>
                    <select  id="start_time" class="form-control" ng-model="match.start_time">
                        <option value="">Select Start Time</option>
                        <option ng-repeat="hr in hours" value="{{hr.value}}">{{hr.text}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="start_time">Timezone: </label>
                    <select  id="timezone" class="form-control" ng-model="match.timezone">
                        <option value="">Select Timezone</option>
                        <option ng-repeat="tz in countryTz" value="{{tz[2]}}">{{tz[1]}}-{{tz[2]}} {{tz[3]}}  </option>
                    </select>
                </div>



                <div class="form-group">
                    <label class="" for="end_date">End Date: </label>
                    <input type="date"  placeholder="End Date"  class=" form-control" ng-model="match.end_date"  id="end_date" >
                </div>

                <div class="form-group">
                    <label class="" for="venue">Venue: </label>
                    <input name="venue" ng-model="match.venue" class="form-control" id="venue" />
                </div>

                <div class="form-group">
                    <label class="" for="group_info">Group Info: </label>
                    <input name="group_info" ng-model="match.group_info" class="form-control" id="group_info" />
                </div>


                <div class="form-group">
                    <label class="" for="group_info">Audio Link: </label>
                    <input name="audio_link" ng-model="match.audio_link" class="form-control" id="audio_link" />
                </div>


                <div class="form-group">
                    <label class="" for="group_info">Video Link: </label>
                    <input name="video_link" ng-model="match.video_link" class="form-control" id="video_link" />
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
