<div class="container">
    <div class="col-lg-12">
        <h3>{{heading}}</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <form ng-submit="save()" class="form-horizontal">
                <div class="form-group">
                    <label class="" for="appName">Title: </label>
                    <input type="text" class="form-control"  ng-model="league.title" id="appName" placeholder="Enter League Title">
                </div>

                <div class="form-group">
                    <label class="" for="appName">Sports: </label>
                    <select class="form-control" ng-model="league.sport_id">
                        <option value="">Select Sports</option>
                        <option ng-repeat="sport in sports" value="{{sport.id}}">{{sport.sport}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="start_date">Start Date: </label>
                    <input type="date"  placeholder="Start Date"  class=" form-control" ng-model="league.start_date"  id="start_date" >
                </div>
                <div class="form-group">
                    <label class="" for="end_date">End Date: </label>
                    <input type="date"  placeholder="End Date"  class=" form-control" ng-model="league.end_date"  id="end_date" >
                </div>

                <div class="form-group">
                    <label class="" for="image_active">Image for Active: </label>
                    <input accept="image/*" type="file"  placeholder="Image File"  class=" form-control" ng-model="league.image_active"  file-model="league.image_active" id="image_active" >
                </div>
                <div class="form-group">
                    <label class="" for="image_inactive">Image for Inactive: </label>
                    <input accept="image/*"  type="file"  placeholder="Image File"  class=" form-control" ng-model="league.image_inactive"  file-model="league.image_inactive" id="image_inactive" >
                </div>

                <div class="form-group">
                    <label class="" for="start_date">Color: </label>
                    <input type="color"  placeholder="Color"  class=" form-control" ng-model="league.color"  id="color" >
                </div>


                <div class="form-group">
                    <label class="" for="appName">Status: </label>
                    <select class="form-control" ng-model="league.status">
                        <option value="active">Active</option>
                        <option value="inactive">In Active</option>
                    </select>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
