<div class="container">
    <div class="col-lg-12">
        <h3>{{heading}}</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <form ng-submit="save()" class="form-horizontal">
                <div class="form-group">
                    <label class="" for="appName">Title: </label>
                    <input type="text" class="form-control"  ng-model="team.name" id="appName" placeholder="Enter Team Name">
                </div>

                <div class="form-group">
                    <label class="" for="appName">Sports: </label>
                    <select class="form-control" ng-model="team.sport_id">
                        <option value="">Select Sports</option>
                        <option ng-repeat="sport in sports" value="{{sport.id}}">{{sport.sport}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="" for="country">Country: </label>
                    <input type="text" class="form-control"  ng-model="team.country" id="country" placeholder="Enter Country">
                </div>


                <div class="form-group">
                    <label class="" for="image_active">Image : </label>
                    <input accept="image/*" type="file"  placeholder="Image File"  class=" form-control" ng-model="team.image"  file-model="team.image" id="image_active" >
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
