<div class="container">
    <div class="col-lg-12">
        <h3>Configuration</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <form ng-submit="save()" class="form-horizontal">
                <div ng-repeat="d in data" class="form-group">
                    <label class="" for="{{d.param}}">{{d.param}}: </label>
                    <input type="text" class="form-control"  ng-model="d.value" id="{{d.param}}" placeholder="">
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
