<div class="box">
    <div class="box-header">

        <h3 class="box-title">Leagues <a href="#/add-leagues">Add New Leagues</a></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr >
                <th>Sr#</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Sport</th>
                <th>Image</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{league.id}}" ng-repeat="league in data" >
                <td>{{$index+1}}</td>
                <td>{{league.title}}
                </td>
                <td>{{dated(league.start_date)}}</td>
                <td>{{dated(league.end_date)}}</td>
                <td>{{league.sport}}</td>

                <td>
                    <img class="imagePreviewModal" src="{{league.image_active}}" width="100" alt="{{league.title}}"/>
                    <img class="imagePreviewModal" src="{{league.image_inactive}}" width="100" alt="{{league.title}}"/>
                </td>
                <td>{{league.status}}</td>
                <td>
                    <a href="#/add-team/{{league.id}}" ><i class="fa fa-plus"></i> </a><br/>
                <br/>
                    <a ng-click="removeData(league.id)" ><i class="fa fa-trash"></i> </a><br/>
                    <a href="#leagues/{{league.id}}" ><i class="fa fa-pencil"></i> </a><br/>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmation" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <label style="color:#3c3c3c" >Are you sure ! you want to delete?</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="removeConfirmed()" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        var h =  $('.wrapper').height()
        h = h-100;
        $('.content-wrapper').css("height",h)
    },500)


</script>
