<div class="box">
    <div class="box-header">

        <h3 class="box-title">Leagues <a href="#/add-matches">Add New Match</a></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr >
                <th>Sr#</th>
                <th>Team A</th>
                <th>Team B</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Venue</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{league.id}}" ng-repeat="league in data" >
                <td>{{$index+1}}</td>
                <td>{{league.team_a}}
                <td>{{league.team_b}}
                </td>
                <td>{{dated(league.start_date)}}</td>
                <td>{{dated(league.end_date)}}</td>
                <td>{{league.venue}}</td>

                <td>
                    <a ng-click="scoreUpdate(league)" >Score/Match Update </a><br/>
                    <a ng-click="removeData(league.id)" ><i class="fa fa-trash"></i> </a><br/>
                    <a href="#/edit-match/{{league.id}}" ><i class="fa fa-pencil"></i> </a><br/>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmation" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <label style="color:#3c3c3c" >Are you sure ! you want to delete?</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="removeConfirmed()" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="update" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateMatch">Update Match</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="team_win_id">
                        Winner Team {{match.team_win_id}}
                    </label>
                        <select ng-model="match.team_win_id" id="team_win_id" class="form-control">
                            <option ng-selected="match.team_win_id==0"  value="0">None</option>
                            <option ng-selected="match.team_a_id==match.team_win_id" value="{{match.team_a_id}}">{{match.team_a}}</option>
                            <option ng-selected="match.team_b_id==match.team_win_id" value="{{match.team_b_id}}">{{match.team_b}}</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="match_status">
                        Match Status
                    </label>
                        <select ng-model="match.match_status" id="match_status" class="form-control">
                            <option value="pending">Pending</option>
                            <option value="started">Start</option>
                            <option value="ended">Ended</option>
                            <option value="break">Break</option>
                            <option value="stop">Stop</option>
                        </select>
                </div>

                <div class="form-group">
                    <label for="team_a_score">
                        Team A Score
                    </label>
                        <input type="text" ng-model="match.team_a_score" id="team_a_score" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="team_b_score">
                        Team B Score
                    </label>
                        <input type="text" ng-model="match.team_b_score" id="team_b_score" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="result">
                        Result/Scorecard
                    </label>
                        <input type="text" ng-model="match.result" id="result" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="isLive">
                        Is Live                    </label>

                    <input id="isLive" type="checkbox" ng-checked="match.isLive==true" ng-model="match.isLive" />
                </div>



            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="update()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        var h =  $('.wrapper').height()
        h = h-100;
        $('.content-wrapper').css("height",h)
    },500)


</script>
