<div class="container">
    <div class="col-lg-12">
        <h3>Send Notification</h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <div ng-if="error.warning==true" style="margin:20px;line-height:40px;background-color: #a94442; color: #eee; font-size:14px;" class="col-sm-12">
                <div class="col-sm-11">
                    <i  style="font-size: 20px" class="fa fa-warning"></i>&nbsp;{{error.warningText}}
                </div>
                <div class="col-sm-1" ng-click="closeWarning()">
                    <i style="font-size: 20px" class="fa fa-times"></i>
                </div>

            </div>
            <form ng-submit="send()" class="form-horizontal">
                <div class="form-group">
                    <label class="" for="appName">Email  (optional): </label>
                    <input type="text" class="form-control"  ng-model="notify.user" id="appName" placeholder="Enter Phone Number or Email">
                </div>

                <div style="height: 300px; overflow-y: scroll" class="form-group">
                    <table  >
                    <tr>
                        <td>
                        <label>
                            <input  type="checkbox" ng-change="selectUser()" name="select" ng-model="selected">
                            &nbsp;
                            &nbsp;
                            Select All User
                        </label>

                        </td>
                    </tr>
                    <tr style="" ng-repeat="user in data" value="{{user.id}}">
                       <td>
                        <label>
                            <input  type="checkbox"  ng-checked="user.checked"  ng-model="user.checked" name="userId" >
                            &nbsp;
                            &nbsp;
                            {{user.email}}
                        </label>
                       </td>
                    </tr>
                    </table>
                </div>

                <div class="form-group">
                    <label class="" for="title">Title: </label>
                    <input  maxlength="124" type="text" class="form-control"  ng-model="notify.title" id="title" placeholder="Message Title">
                    <span class="text-danger">{{error.title}}</span>
                </div>


                <div class="form-group">
                    <label class="" for="packageName">Message  <i style="color:maroon">*&nbsp;</i>:</label>
                    <textarea type="text" class="form-control"  ng-model="notify.message" id="packageName" placeholder="Enter Package Name"></textarea>
                    <span class="text-danger">{{error.message}}</span>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>