<div class="box">
    <div class="box-header">
        <h3 class="box-title">User</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr >
                <th>Sr#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Balance</th>
                <th>Coins</th>
                <th>points</th>
                <th>Country</th>
                <th>Device</th>
                <th>Social Login</th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{user.id}}" ng-repeat="user in data" >
                <td>{{$index+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{dated(user.lastLogin)}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.coins}}</td>
                <td>{{user.points}}</td>
                <td>{{user.country}}</td>
                <td>{{user.platform}}</td>
                <td>{{user.network}}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="confirmation" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                <label style="color:#3c3c3c" >Are you sure ! you want to delete?</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="removeConfirmed()" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        var h =  $('.wrapper').height()
        h = h-100;
        $('.content-wrapper').css("height",h)
    },500)


</script>
